.add {
  font-size: 25px;
  width: 40px; /* ✅ добавлены px */
  height: 40px; /* ✅ добавлены px */
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  background-color: #F87060;
  text-align: center;
  color: #eaecc6;
}

.basket {
  margin-top: 20px; /* ✅ добавлен px */
  font-size: 20px;
  width: 250px; /* ✅ добавлены px */
  height: 40px; /* ✅ добавлены px */
  border-radius: 10px;
  border: none;
  margin-right: 10px;
  background-color: #F87060;
  text-align: center;
  color: #eaecc6;
}